<div class="row page-container">
  <h1 class="title">USUARIOS</h1>
<input matInput
class="form-control"
type="text"
[(ngModel)]="filterInput"
placeholder="Buscar por nombre o id"
(keyup)="changeFilter($event)" />
  <ul class="container">
    <li class="users-container"  *ngFor="let user of users  | paginate: { itemsPerPage: 4, currentPage: page }">
      <span>{{user.id}}</span>
      <span>{{user.name}}</span>
      <button mat-raised-button mat-button color="warn" (click)="userSelected(user.id)">Ver</button></li>
    </ul>
<div class="container-paginator">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

</div>
