<div class="row page-container">
<div class="user-card">
  <h1 class="title">DATOS DEL USUARIO</h1>
  <p>
    <span class="users-body">Id: </span><span>{{user.id}}</span>
  </p>
  <p>
    <span class="users-body">Nombre:  </span><span>{{user.name}}</span>
  </p>
  <p>
    <span class="users-body">Nombre de usuario:  </span> <span>{{user.username}}</span>
  </p>
  <p>
    <span class="users-body">Telefono:   </span><span>{{user.phone}}</span></p>
  <p>
    <span class="users-body">Email:    </span><span>{{user.email}}</span></p>
</div>
<post-list [userId]="user.id"></post-list>


</div>
