/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.page-container{
  display: block;
  margin: auto;
  max-width: 600px;
  border: 1px solid gray;
  padding: 15px;
}

.container-paginator{
  display: flex;
  justify-content: center;
}

.title{
  font-size: 22px;
  text-align: center;
  color: red;
  font-weight: 600;
}

.subtitle{
  color: red;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}

.subsubtitle{
  color: red;
  font-size: 14px;
}

li{
  list-style-type: none !important;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
